html {
    scroll-behavior: smooth;
}

.body {
    background-color: #1E1E1E;
    color: #8E44ADff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: #8E44ADff;
    text-decoration: none;
    align-self: left;
}

.navbar {
    top: 0;
    position: sticky;
    background-color: #121212;
    display: flex;
    align-items: center;
}

.navbarList {
    list-style-type: none;
    display: flex;
}

.navbarItems {
    padding: 0 10px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #8E44ADff;
}

.navbarItems a {
    font-size: 1.25rem;
    font-weight: 600;
    color: #8E44ADff;
}

/*home page*/
.home{
    background: #121212;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header {
    font-size: 2rem;
    font-weight: 700;
    color: #8E44ADff;
    text-align: center;
    margin-bottom: 20px;
}

.home-content {
    font-size: 1.5rem;
    font-weight: 400;
    color: #8E44ADff;
    text-align: center;
    margin-bottom: 20px;
    width: 50%;
}

/*books page*/

.books {
    background: #121212;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.books-content {
    font-size: 1.5rem;
    font-weight: 400;
    color: #8E44ADff;
    text-align: center;
    margin-bottom: 20px;
    width: 50%;
}


.books-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/*search bar*/

.search {
    background: #121212;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-header {
    font-size: 2rem;
    font-weight: 700;
    color: #8E44ADff;
    text-align: center;
    margin-bottom: 20px;
}


.search-bar input[type="text"]{
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid #8E44ADff;
    border-radius: 10px;
    font-size: 18px;
    color: #8E44ADff;
    outline: none;
}

.search-button {
    padding: 5px;
    background-color: transparent;
    color: #8E44ADff;
    border: 2px solid #8E44ADff;
    border-radius: 10px;
    width: 100%;
}


